@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    padding: 20px;
    border-radius: 8px;
    width: 700px;
  }
  .sub{
    display: flex;
    justify-content: space-between;
  }
  
  h2, h3 {
    text-align: start;
    color: #333;
    margin-left: 10px;
    font-size: larger;
    font-weight: 700;
  }
  
  .budget-section, .expenses-section {
    margin-bottom: 20px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 4px;
    height: 220px;
  }
  .budget-section input{
    padding: 10px 10px;
    margin-left: 10px;
    width: 260px;
  }
  
  input {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 5px 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 8px;
    background-color: #333fc9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    width: 110px;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #4b57e1;
  }
  
  .summary {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: #333fc9;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .summary h3{
    color: white;
  }
.summary p{
    font-size: 15px;
    font-weight: 600;
}
  
  .summary-item {
    text-align: center;
  }
  
  #expense-list {
    list-style: none;
    padding: 0;
    margin: 10px;
    
  }
  .exp{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    min-height: 75px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #fff;
  }
  .exp h3{
    text-align: start;
    position: relative;
    top: 24px;
    left: 10px;
  }
  
  #expense-list li {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    color: red;
    
  }
  
  #expense-list .remove-expense {
    color: red;
    cursor: pointer;
  }
  